In [69]:
import pandas as pd
import numpy as np

atoms = pd.read_csv('results_JS_replication_study.csv')

ModuleNotFoundError: No module named 'scipy'

In [67]:
atoms.columns.values

array(['Timestamp', 'Question 1', 'Question 2', 'Question 3',
       'Question 4', 'Question 5', 'Question 6', 'Question 7',
       'Question 8', 'Question 9', 'Question 10', 'Question 11',
       'Question 12', 'Question 13', 'Question 14', 'Question 15',
       'Question 16', 'Question 17', 'Question 18', 'Question 19',
       'Question 20', 'Question 21', 'Question 22', 'Question 23',
       'Question 24', 'Question 25', 'Question 26', 'Question 27',
       'Question 28', 'Question 29', 'Question 30', 'Question 31',
       'Question 32', 'Question 33', 'Question 34', 'Question 35',
       'Question 36', 'Question 37', 'Question 38', 'Question 39',
       'Question 40', 'Question 41', 'Question 42', 'Question 43',
       'Question 44', 'Question 45', 'Question 46', 'Question 47',
       'Question 48', 'Question 1 time', 'Question 2 time',
       'Question 3 time', 'Question 4 time', 'Question 5 time',
       'Question 6 time', 'Question 7 time', 'Question 8 time',
       'Question 9 time', 'Question 10 time', 'Question 11 time',
       'Question 12 time', 'Question 13 time', 'Question 14 time',
       'Question 15 time', 'Question 16 time', 'Question 17 time',
       'Question 18 time', 'Question 19 time', 'Question 20 time',
       'Question 21 time', 'Question 22 time', 'Question 23 time',
       'Question 24 time', 'Question 25 time', 'Question 26 time',
       'Question 27 time', 'Question 28 time', 'Question 29 time',
       'Question 30 time', 'Question 31 time', 'Question 32 time',
       'Question 33 time', 'Question 34 time', 'Question 35 time',
       'Question 36 time', 'Question 37 time', 'Question 38 time',
       'Question 39 time', 'Question 40 time', 'Question 41 time',
       'Question 42 time', 'Question 43 time', 'Question 44 time',
       'Question 45 time', 'Question 46 time', 'Question 47 time',
       'Question 48 time', 'Question 1 number', 'Question 2 number',
       'Question 3 number', 'Question 4 number', 'Question 5 number',
       'Question 6 number', 'Question 7 number', 'Question 8 number',
       'Question 9 number', 'Question 10 number', 'Question 11 number',
       'Question 12 number', 'Question 13 number', 'Question 14 number',
       'Question 15 number', 'Question 16 number', 'Question 17 number',
       'Question 18 number', 'Question 19 number', 'Question 20 number',
       'Question 21 number', 'Question 22 number', 'Question 23 number',
       'Question 24 number', 'Question 25 number', 'Question 26 number',
       'Question 27 number', 'Question 28 number', 'Question 29 number',
       'Question 30 number', 'Question 31 number', 'Question 32 number',
       'Question 33 number', 'Question 34 number', 'Question 35 number',
       'Question 36 number', 'Question 37 number', 'Question 38 number',
       'Question 39 number', 'Question 40 number', 'Question 41 number',
       'Question 42 number', 'Question 43 number', 'Question 44 number',
       'Question 45 number', 'Question 46 number', 'Question 47 number',
       'Question 48 number', 'Question 1 correct', 'Question 2 correct',
       'Question 3 correct', 'Question 4 correct', 'Question 5 correct',
       'Question 6 correct', 'Question 7 correct', 'Question 8 correct',
       'Question 9 correct', 'Question 10 correct', 'Question 11 correct',
       'Question 12 correct', 'Question 13 correct',
       'Question 14 correct', 'Question 15 correct',
       'Question 16 correct', 'Question 17 correct',
       'Question 18 correct', 'Question 19 correct',
       'Question 20 correct', 'Question 21 correct',
       'Question 22 correct', 'Question 23 correct',
       'Question 24 correct', 'Question 25 correct',
       'Question 26 correct', 'Question 27 correct',
       'Question 28 correct', 'Question 29 correct',
       'Question 30 correct', 'Question 31 correct',
       'Question 32 correct', 'Question 33 correct',
       'Question 34 correct', 'Question 35 correct',
       'Question 36 correct', 'Question 37 correct',
       'Question 38 correct', 'Question 39 correct',
       'Question 40 correct', 'Question 41 correct',
       'Question 42 correct', 'Question 43 correct',
       'Question 44 correct', 'Question 45 correct',
       'Question 46 correct', 'Question 47 correct',
       'Question 48 correct', 'genero', 'escolaridade', 'firstExperience',
       'placeWhereLearnedFormally', 'placeWhereLearnedInformally',
       'lastExperience', 'monthsOfExperienceJavaScript', 'mainLanguage',
       'monthsOfExperienceAny', 'emailaddress', 'sugg'], dtype=object)

In [7]:
atoms

,Timestamp,Question 1,Question 2,Question 3,Question 4,Question 5,Question 6,Question 7,Question 8,Question 9,...,escolaridade,firstExperience,placeWhereLearnedFormally,placeWhereLearnedInformally,lastExperience,monthsOfExperienceJavaScript,mainLanguage,monthsOfExperienceAny,emailaddress,sugg
0,18/09/2019 19:01:49,4,0,10,1,3,1,7,"[5, 3, 3, 7, 9]","123 [1, 2, 3]",...,ESI,2015,Informalmente,"Console, Tentativa e erro, frameworks (angular...",09/2019,24,"Javascript, Java, Haskell",60.0,jets.dot@gmail.com,Questionário grande e com pegadinhas lembra o ...
1,18/09/2019 20:30:31,erro,erro,7,4,true',FALSE,erro,9,8,...,ESC,2011,"não, faculdade usava python/php",w3c e stackoverflow,09/2019,96,é a principal atualmente,120.0,fdf2@cin.ufpe.br,NaN
2,18/09/2019 23:28:22,TRUE,6,5,2,"[1,2,2,5]",erro,3,TRUE,erro,...,ESI,2012,01/2018,2012,09/2019,24,Javascript,48.0,lucasrocha.rosaborges@hotmail.com,Seria curioso saber qual conhecimento da comun...
3,19/09/2019 00:17:13,FALSE,friend,TRUE,7 3,3 5,1,5 4,"sir please,sir",5 5,...,ESI,2019,universidade,autodidata,09/2019,8,Java,48.0,cledcppm@gmail.com,NaN
4,19/09/2019 02:35:12,1,erro,4,3,10,erro,"5, 3, 3, 7, 9",4,"0, 0, true",...,M,2000,não,autodidata,2015,228,Java,228.0,tfelipebr@gmail.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,24/10/2019 02:29:56,4,TRUE,error,4 0,6 -1,3 5,-1 -2 -1,10,4 8,...,ESC,1998,2005,self-taught,today,200,.,200.0,no@thank.you,Too many questions
68,24/10/2019 02:33:23,23,error,FALSE,TRUE,5 3,error,2 2,error,1 2 false,...,D,2010,none place,self-taught,2015,12,Java,-1.0,NaN,It would be nice if you can specify the ECMA s...
69,31/10/2019 14:44:39,1,1 3,TRUE,3 10 2001,TRUE,4,erro,1 0 true,friend,...,ESI,Esse ano,Treinamento,Autodidata,Antes de ontem,3,"Java, Golang, C++",2.0,guiganey@gmail.com,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"25,98571429",NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN

In [18]:
atoms.dropna(thresh=10, inplace=True)

In [19]:
atoms

,Timestamp,Question 1,Question 2,Question 3,Question 4,Question 5,Question 6,Question 7,Question 8,Question 9,...,escolaridade,firstExperience,placeWhereLearnedFormally,placeWhereLearnedInformally,lastExperience,monthsOfExperienceJavaScript,mainLanguage,monthsOfExperienceAny,emailaddress,sugg
0,18/09/2019 19:01:49,4,0,10,1,3,1,7,"[5, 3, 3, 7, 9]","123 [1, 2, 3]",...,ESI,2015,Informalmente,"Console, Tentativa e erro, frameworks (angular...",09/2019,24,"Javascript, Java, Haskell",60.0,jets.dot@gmail.com,Questionário grande e com pegadinhas lembra o ...
1,18/09/2019 20:30:31,erro,erro,7,4,true',FALSE,erro,9,8,...,ESC,2011,"não, faculdade usava python/php",w3c e stackoverflow,09/2019,96,é a principal atualmente,120.0,fdf2@cin.ufpe.br,NaN
2,18/09/2019 23:28:22,TRUE,6,5,2,"[1,2,2,5]",erro,3,TRUE,erro,...,ESI,2012,01/2018,2012,09/2019,24,Javascript,48.0,lucasrocha.rosaborges@hotmail.com,Seria curioso saber qual conhecimento da comun...
3,19/09/2019 00:17:13,FALSE,friend,TRUE,7 3,3 5,1,5 4,"sir please,sir",5 5,...,ESI,2019,universidade,autodidata,09/2019,8,Java,48.0,cledcppm@gmail.com,NaN
4,19/09/2019 02:35:12,1,erro,4,3,10,erro,"5, 3, 3, 7, 9",4,"0, 0, true",...,M,2000,não,autodidata,2015,228,Java,228.0,tfelipebr@gmail.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,24/10/2019 00:09:48,1,2 1,7,"1, 7","hey, hey you",1,undefined,1,"3, 10, 2001",...,ESC,2017,self,self-taugh,month,1,rust,15.0,NaN,NaN
66,24/10/2019 00:32:26,1,"[5,3,3,7,9]","1, 7",TRUE,"1,2",3,3 1,0,3,...,ESC,2000,I learnt C on college,self taught,2019,50,python,200.0,arturo.hernandez.calleja@gmail.com,some questions could have only 3 responses tru...
67,24/10/2019 02:29:56,4,TRUE,error,4 0,6 -1,3 5,-1 -2 -1,10,4 8,...,ESC,1998,2005,self-taught,today,200,.,200.0,no@thank.you,Too many questions
68,24/10/2019 02:33:23,23,error,FALSE,TRUE,5 3,error,2 2,error,1 2 false,...,D,2010,none place,self-taught,2015,12,Java,-1.0,NaN,It would be nice if you can specify the ECMA s...
69,31/10/2019 14:44:39,1,1 3,TRUE,3 10 2001,TRUE,4,erro,1 0 true,friend,...,ESI,Esse ano,Treinamento,Autodidata,Antes de ontem,3,"Java, Golang, C++",2.0,guiganey@gmail.com,NaN

In [65]:
times = atoms.loc[:, 'Question 1 time':'Question 48 time']
correct = atoms.loc[:,'Question 1 correct':'Question 48 correct']
correct.columns = times.columns
correctTimesTemp = times.where(correct)
correctTimes = pd.Series(correctTimesTemp.values.flatten()).dropna()
incorrectTimesTemp = times.where(np.logical_not(correct))
incorrectTimes = pd.Series(incorrectTimesTemp.values.flatten()).dropna()